<table class="table table-striped table-dark text-center">
    <thead>
        <tr>
            <th scope="col">id </th>
            <th scope="col">First name </th>
            <th scope="col">Last name </th>
            <th scope="col">Email</th>
            <th scope="col">tel </th>
            <th scope="col">avatar </th>
            <th scope="col">Role </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of usersTab">
            <th scope="row">{{i._id}}</th>
            <td>{{i.firstName}}</td>
            <td>{{i.lastName}}</td>
            <td>{{i.email}}</td>
            <td>{{i.tel}}</td>
            <td><img [src]="i.avatar" alt="" width="40px" height="40px"></td>
            <td>{{i.role}}</td>
            <td>{{i.owner}}</td>

        </tr>

    </tbody>
</table>